.body-wrap {
    position: relative;
    min-height: 100vh;
}

// 메인 페이지
#main {
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 4rem;
    height: 200vh;
    transition: 0.4s;

    h2 {
        font-size: 2.5rem;
        font-weight: 500;
        text-align: center;
    }
}
